.gitignore
.idea/
FlexEnum.Tests/bin/
FlexEnum.Tests/obj/
FlexEnum/bin/
FlexEnum/obj/
/packages/System.ValueTuple.4.5.0
/.vs/FlexEnum/DesignTimeBuild
/.vs
/_ReSharper.Caches/ReSharperPlatformVs16193_48f13474.FlexEnum.00
